.toggleSideBar {
    display: none;
}
.sideBarContainer{
    cursor: pointer;
}
.activeToggleSideBar {
    background-color: #881616;
    color: #fff;
    border-radius:50px;
    padding: 0.5em;
    width: 25% ;
    margin: 0 auto;
    text-align: center;
}
.nonActiveToggleSideBar {
    /* background-color: rgb(37, 32, 32);
    border-radius:50px;
    padding: 1em;
    width: 40% ;
    margin: 0 auto; */
    font-size: 30px;
}

@media screen and (max-width: 600px) {
  
    .toggleSideBar {
        display: block ;
    }
    .sideBarContainer{
        display: block;
       
        margin: 0 auto;

    }
}
    
