/front-end/.eslintcache
/front-end/.env
/.idea/.gitignore
/.idea/boilerplate.iml
/.idea/codeStyles/codeStyleConfig.xml
/.idea/dbnavigator.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/codeStyles/Project.xml
/.idea/vcs.xml
/.idea/
*.pyc
__pycache__
__pycache__/
.vscode
TODO.txt
back-end/.coverage
back-end/htmlcov/
back-end/docs/htmlcov/
back-end/logs/
docs/htmlcov/
logs/

.DS_Store
postgres_data/
postgres_data/*
*.sqlite3
.env
.env_dev
.env_test
.pytest_cache
*.pem
TODO.txt
AWS_CF_PK
docker-compose.yml
tags
venv