
.notification:not(:last-child) {
    border-bottom: 2px solid rgb(63, 63, 63);
    
  }
.notificationMenu{
    width:450px;
    overflow-y: auto;
    height: 200px;
    scrollbar-width: 10px; /* make it thin */
    scrollbar-color: rgb(27, 53, 71) rgb(202, 103, 56);
}

.notificationMenu::-webkit-scrollbar {
    width: 10px; 
  }
.notificationMenu::-webkit-scrollbar-track {
    background: rgb(202, 103, 56);
    border-radius: 10px;
}
.notificationMenu::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgb(27, 53, 71) ;
  } 
  

/* For screen size more than 800px */
@media screen and (min-width: 800px) {
    .logo {
      width: 50px !important;
      height: 50px !important;
    }
  }
  
  /* For screen size less than 800px */
  @media screen and (max-width: 800px) {
    .logo {
        width: 40px !important;
        height: 40px !important;
    }
    .notificationMenu{
      width: 300px;
    }
  }