
.footer_logo{
    width: 100px ;
    height: 100px ;
}
.footer_logo_container{
border-radius: 50%;
}

/* For screen size less than 800px */
  @media screen and (max-width: 800px) {
   .footer_logo{
    margin-left: auto;
    margin-right: auto;
    display: block;
   }
  }
/*For screen size more than 800px */
 @media screen and (min-width: 800px) {
    .footer_logo{
     height: 80px;
     width: 120px ;
    }
    } 

/*for screen size more than 1280*/
@media screen and (min-width: 1280px) {
        .footer_logo{
         height: 100px;
        }
        } 


 