aiohttp==3.7.4.post0
aioredis==1.3.1
amqp==2.6.1
aniso8601==7.0.0
appdirs==1.4.4
asgiref==3.3.1
Django==3.1.4
django-adminplus==0.5
django-channels-graphql-ws==0.9.1
django-cleanup==5.1.0
django-cors-headers==3.2.1
django-extensions==3.1.1
django-filter==2.4.0
django-graphiql==0.4.4
django-graphql-jwt==0.3.0
django-graphql-social-auth==0.1.4
django-model-utils==4.1.1
django-nested-inline==0.4.3
django-ses==1.0.3
django-silk==4.2.0
django-solo==1.1.5
django-storages==1.11.1
django-utils-six==2.0
docker==4.4.2
docker-compose==1.27.4
dockerpty==0.4.1
gprof2dot==2021.2.21
graphene==2.1.8
graphene-django==2.13.0
graphene-django-optimizer==0.8.0
graphene-file-upload==1.3.0
graphql-core==2.3.2
graphql-relay==2.0.1
graphql-ws==0.4.4
graphviz==0.16
gunicorn==20.0.4
psycopg2-binary==2.8.6
Pillow==8.0.1
PyJWT==1.7.1
pytest==6.2.2
pytest-django==4.1.0
pytest-forked==1.3.0
pytest-isort==2.0.0
pytest-xdist==2.4.0
python-dateutil==2.8.1
python-dotenv==0.15.0
python-magic==0.4.15
python3-openid==3.2.0
pytz==2020.4
PyYAML==5.3.1
sqlparse==0.4.1