<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
​

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title></title>
  <style>
    /* avoid splitting element across pages */
    .no-break {
      page-break-inside: avoid;
    }
    .logo {
	    background-color: #51317D;
	    position: relative;
	    width: 100%;
	    height: 130px;
	    padding: 5px 0 0 5px;
	    border-bottom: 10px solid #dcd5e4;
    }
    .wrapper {
	    padding: 30px;
	    width: 220mm;
	    margin: 0 auto;
    }
  </style>
</head>
​

<body style="-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	margin: 0;
  text-align: center;">
  <div class="logo">
	  <img height=130 src="{{static}}/final_logo_white.png" alt="logo" style="float: left;"/>
  </div>
  <div class="wrapper">
  <!-- background table start -->
  <table cellpadding="0" cellspacing="0" border="0" id="background_table" style="border-collapse: collapse;
	font-family: Helvetica;
	font-size: 14px;
  display: flex;
  align-content: center;
	color: #000;
  >
    <tbody style="display: grid; align-content: space-between;">
      <tr>
        <td style="width: 250mm; text-align: center;">
          <h1 style="margin-top: 40px; text-align: center;"><strong>Sick Leave Form</strong></h1>
          <table cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse; line-height: 30px; ">
            <tbody style="vertical-align: bottom; ">
              <tr>
                <td style="width: 40mm;"></td>
                <td style="width: 60mm;"></td>
                <td style="width: 5mm;"></td>
                <td style="width: 40mm;"></td>
                <td style="width: 65mm;"></td>
              </tr>
              <tr style="height: 50; ">
                <td style="border-bottom: dotted 1px; font-weight: bold;">Sick leave ID</td>
                <td style="border-bottom: dotted 1px;">{{ sick_leave.id }}</td>
              </tr>
              <tr style="height: 50; ">
                <td style="border-bottom: dotted 1px; font-weight: bold;">Patient full name</td>
                <td style="border-bottom: dotted 1px;">{{ sick_leave.appointment.patient.full_name }}</td>
                <td></td>
                <td style="border-bottom: dotted 1px; font-weight: bold;">Date of Birth</td>
                <td style="border-bottom: dotted 1px;">{{ sick_leave.appointment.patient.dob }}</td>
                <td></td>
              </tr>
              <tr style="height: 50;">
                <td style="border-bottom: dotted 1px; font-weight: bold;">Nationality</td>
                <td style="border-bottom: dotted 1px;">{{ sick_leave.appointment.patient.nationality }}</td>
                <td></td>
                <td style=" border-bottom: dotted 1px; font-weight: bold;">Gender</td>
                <td style="border-bottom: dotted 1px;">{{sick_leave.appointment.patient.full_gender}}</td>
              </tr>
            </tbody>
          </table>
          <table cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse; line-height: 30px;">
            <tbody style="vertical-align: bottom;">
              <tr>
                <td style="width: 210mm;"></td>
              </tr>
              <tr>
                <td>
                  <table cellpadding="0" cellspacing="0" border="0"
                    style="border-collapse: collapse; line-height: 30px;">
                    <tbody style="vertical-align: bottom;">
                      <tr style="height: 80;">
                        <td style="width: 40mm; border-bottom: dotted 1px; font-weight: bold;">Company name</td>
                        <td style="width: 170mm;border-bottom: dotted 1px;">{{ sick_leave.company_name }}</td>
                      </tr>
                      <tr style="height: 50;">
                        <td style="width: 40mm; border-bottom: dotted 1px; font-weight: bold;">Occupation</td>
                        <td style="width: 170mm;border-bottom: dotted 1px;">{{ sick_leave.occupation }}</td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td>
                  <table cellpadding="0" cellspacing="0" border="0"
                    style="border-collapse: collapse; line-height: 30px;">
                    <tbody style="vertical-align: bottom;">
                      <tr style="height: 50;">
                        <td style="width: 25mm; border-bottom: dotted 1px; font-weight: bold;">Start date</td>
                        <td style="width: 35mm;border-bottom: dotted 1px;">{{ sick_leave.start_date }}</td>
                        <td style="width: 5mm;"></td>
                        <td style="width: 25mm;border-bottom: dotted 1px; font-weight: bold;">End date</td>
                        <td style="width: 35mm; border-bottom: dotted 1px;">{{ sick_leave.get_end_date }}</td>
                        <td style="width: 5mm;"></td>
                        <td style="width: 40mm;border-bottom: dotted 1px; font-weight: bold;">Sick Leave Period</td>
                        <td style="width: 40mm;border-bottom: dotted 1px;">{{ sick_leave.days }}</td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr style="height: 70; ">
                <td>
                  <p style="font-weight: bold;">Diagnosis</p>
                </td>
              </tr>
              <tr>
                <td style=" border-bottom: dotted 1px;">{{ sick_leave.appointment.diagnosis }}</td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td style="width: 210mm">
          <table cellpadding="5" cellspacing="0" border="0" style="border-collapse: collapse;">
            <tbody style="vertical-align: top;">
              <tr style="height: 70; ">
                <td style="width: 20mm;"></td>
                <td style="width: 50mm;">
                  <table>
                    <tbody>
                      <tr>
                        <th style="width: 50mm;">
                          Doctor's stamp
                        </th>
                      </tr>
                      <tr style="height: 150;">
                        <td style="text-align: center;">
                          {% if sick_leave.appointment.doctor.doctor_stamp %}
                            <img height="130"
                              src="{{ sick_leave.appointment.doctor.doctor_stamp.url }}"
                              alt="stamp" />
                          {% endif %}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
                <td style="width: 40mm;"></td>
                <td style="width: 70mm;">
                  <table>
                    <tbody>
                      <tr style="height: 20;">
                        <th style="width: 70mm; vertical-align: top;">
                          Name of doctor
                        </th>
                      </tr>
                      <tr style="height: 50; ">
                        <td style=" border-bottom: dotted 1px; text-align: center;">
                          {{ sick_leave.appointment.doctor.full_name }}
                        </td>
                      </tr>
                      <tr style="height: 40; vertical-align: bottom;">
                        <th style="width: 70mm; ">
                          Date of appointment
                        </th>
                      </tr>
                      <tr style="height: 50; ">
                        <td style=" border-bottom: dotted 1px; text-align: center;">
                          {{ sick_leave.appointment.start }}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <table cellpadding="30">
                  <tbody>
                    <tr>
                      <td style="width: 210mm; text-align: center;">
                        The issued document is valid. For any details use the phone number: {{ sick_leave.appointment.doctor.phone }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
</body>

</html>
